<%= form_for(@question, html:  {:"ng-submit" => "addQuestion()"}) do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>
      <ul>
      <% @question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.text_field :title, class:"form-control floating-label",placeholder:"Titulo", required:true,data:{hint:"Sé claro, el título permite que los asesores revisen tu duda"}, :"ng-model" => "newQuestion.title" %>
  </div>
  <div class="form-group">
    <div class="be-other-gray" id="editor" text-angular ng-model="newQuestion.description" class="border-bottom"  style="min-height:110px;" ta-toolbar="[['h1','h2','bold','pre','quote','ul','ol','insertImage']]" ta-toolbar-button-class="right-space like_link white inline-block" ta-toolbar-class="be-dark-blue large-padding" ta-toolbar-group-class="tool-t"></div>
    
  </div>
  <div class="actions form-group text-right">
    <%= f.submit "Guardar pregunta",class:"btn btn-flat no-padding btn-info right-space" %>
  </div>
<% end %>