<div ng-cloack class="transitionable"  ng-class="{'top-space': formVisible}">
	<article  class="large-padding be-white border-bottom transitionable animated fadeIn" ng-class="{'box-shadow tall-margin': question == activeQuestion}" ng-repeat="question in questions" ng-click="setActiveQuestion(question)">
		<div class="col-sm-1 col-xs-2 inline-block no-padding">
			<div back-img="{{question.user.profile_picture}}" style='width:60px;height:60px;border-radius:50%;'></div>
		</div>
		<div class="col-sm-11 col-xs-10 inline-block">
			<h3 class="dark-blue">{{ question.title }}</h3>
			<p class="gray transitionable overflow" ng-class="{'soft-hiden': activeQuestion != question}" ng-bind-html="question.description"></p>
			
		</div>
		
	</article>
</div>