<div id="wysihtml-toolbar" class="be-red large-padding">
	<a class="white right-space" data-wysihtml5-command="bold">Negritas</a>
	<a class="white right-space" data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h1">Título</a>
	<a class="white right-space" data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="p">Párrafo
	<a class="white right-space" data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="code">&lt;/&gt;</a>
</div>