<nav class="box-shadow relative" id="main-nav" style="z-index:100;">
	<ul class="large-padding be-blue white">
		<div class="col-xs-6 inline-block">
			<li class="inline-block be-regular right-space pointer" style="width:30px;" id="open_user_data"><%= render_svg "svg-icons/menu-navigation.svg" %></li>
			<li class="inline-block">
				<h1 class="no-margin be-medium">
				<%= link_to(root_path,class:"white") do%>
					<strong>Tutoreando<span class="black">me</span></strong>						
				<%end%>
				</h1>
			</li>	
		</div>
		<div class="col-xs-6 inline-block text-right">
			<li class="inline-block right-space"> <i class="mdi-communication-live-help"></i> Mis Dudas </li>
			<li class="inline-block"> <i class="mdi-communication-contacts"></i> Mis Asesorías </li>
		</div>		
	</ul>
</nav>