<div>
	<header style="min-height:200px;" class="center-vertical header_user ">
		
		<div class="col-md-12 inline-block no-padding">
			<div class="circle-image no-margin" style="background:url(<%= current_user.profile_picture %>);background-size:cover;background-position:center;"></div>
			<div class="top-space white large-padding">
				<p><%= current_user.name %> - <strong class="blue"><%= current_user.username %></strong></p>
				<p><%= current_user.email %></p>			
			</div>
		</div>
	</header>
	<section>
		<nav class="large-padding">
			<ul class="no-list be-medium">
				<li class="top-space">
					<%= link_to(root_path, class:"btn btn-info btn-flat no-padding") do%>
						<i class="mdi-action-face-unlock dark-blue be-medium"></i> Mi perfil
					<%end%>
				</li>
				<li class="top-space">
					<%= link_to(root_path, class:"btn btn-info btn-flat no-padding") do%>
						<i class="mdi-action-account-circle dark-blue be-medium"></i> Configuraciones
					<%end%>
				</li>
				<li class="top-space">
					<%= link_to(destroy_user_session_path, :method => :delete, class:"btn btn-flat btn-danger no-padding") do%>
						<i class="mdi-action-settings dark-blue be-medium"></i> Cerrar sesión
					<%end%>
				</li>	
			</ul>
			
		</nav>
	</section>
</div>