<div class="be-blue large-padding white">
	<div class="col-xs-10 inline-block">
		<i class="fa fa-user"></i> ¿Cómo funciona Tutoreandome?
	</div>
	<div class="col-xs-2 text-right inline-block">x</div>
</div>
<div class="large-padding be-light-facebook">
	<article class="top-space animated left soft-hidden">
		<div class="col-xs-3 col-md-2 inline-block no-padding">
			<%= image_tag('icons/student_pp.jpg') %>
		</div>
		<div class="col-md-8 inline-block " >
			<p class="large-padding white chat-message  ">
				¿Cómo puedo resolver esto?
			</p>
		</div>	
	</article>
	<article class="text-right top-space right animated soft-hidden delay-1">
		<div class="col-md-8 inline-block " >
			<p class="large-padding text-laft  white chat-message-blue ">
				Es fácil, sólo sigue estos pasos....
			</p>
		</div>	
	</article>
	<article class="top-space left animated soft-hidden delay-2">
		<div class="col-xs-3 col-md-2 inline-block no-padding">
			<%= image_tag('icons/student_pp.jpg') %>
		</div>
		<div class="col-md-8 inline-block " >
			<p class="large-padding white chat-message  ">
				¡Eres un genio! ¿Podemos agendar una asesoría?
			</p>
		</div>	
	</article>
	<article class="text-right top-space right animated soft-hidden delay-3">
		<div class="col-md-8 inline-block " >
			<p class="large-padding text-laft  white chat-message-blue ">
				Claro, en mi perfil aparecen los horarios en los que estoy disponible :)
			</p>
		</div>	
	</article>
	<article class="top-space left animated soft-hidden delay-4">
		<div class="col-xs-3 col-md-2 inline-block no-padding">
			<%= image_tag('icons/student_pp.jpg') %>
		</div>
		<div class="col-md-8 inline-block " >
			<p class="large-padding white chat-message  ">
				¿Qué te parece si agendamos 10 horas de 4-6pm?
			</p>
		</div>	
	</article>
	<article class="text-right top-space right animated soft-hidden delay-5">
		<div class="col-md-8 inline-block " >
			<p class="large-padding text-left  white chat-message-blue ">
				¡Me parece perfecto!
			</p>
		</div>	
	</article>
	<article class="top-space left animated soft-hidden delay-6">
		<div class="col-xs-3 col-md-2 inline-block no-padding">
			<%= image_tag('icons/student_pp.jpg') %>
		</div>
		<div class="col-md-8 inline-block " >
			<p class="large-padding white chat-message  ">
				Muchas gracias, acabas de salvar mi materia &lt;3
			</p>
		</div>	
	</article>
</div>
<script>
	var $chat = $('.animate-chat');
	$chat.find('.left').addClass('fadeInLeft');
	$chat.find('.right').addClass('fadeInRight');
</script>