<header class="header_landing full-height center-vertical">

	<div class="large-padding col-md-8 no-float center-block white text-center">
        <%= image_tag("new-logo-light.png", class:"col-md-5 col-xs-8 col-sm-6 inline-block",style:"opacity:0.9;") %>
		<h1 class="text-shadow be-bigger">
			<strong>Tutoreando<span class="red">me</span></strong>		
		</h1>
		<p>¿Qué vas a aprender/enseñar hoy?</p>
		<div>
			<div class="col-sm-6 inline-block">
				<%= link_to user_omniauth_authorize_path(:google_oauth2), class: "btn btn-material-pink" do%>
					Ingresar con Google
				<%end%>
			</div>
			<div class="col-sm-6 inline-block">
				<%= link_to user_omniauth_authorize_path(:facebook), class: "btn btn-info", style:"background-color:#5264ae;" do%>
					Ingresar con Facebook
				<%end%>
			</div>
		</div>
	</div>	
	
</header>
<section class="full-height large-padding" style="width:100%;overflow-x:hidden;">
        <div class="col-md-11 full-height center-block no-float animate-chat text-center large-padding" ng-Controller="UnregisteredCtrl">
            <h2 class="bottom-space top-space">Todos <span class="red"><i class="mdi-action-favorite"></i></span> <%= image_tag("new-logo.png", class:"col-sm-2 col-xs-1 inline-block") %></h2>
            <div class="col-md-8 inline-block top-space">
                <nav class="medium-top-space text-left be-medium">
                    <ul class="no-list">
                        <li class="pointer box-shadow-right be-white large-padding inline-block col-md-3 col-xs-6" ng-click="setActive(0)"
                                ng-class="{'up-blue': active == 0}" style="margin-right:-5px;"> <i class="mdi-social-person"></i> Asesores </li>
                        <li class="pointer inline-block col-md-3 col-xs-6 be-white large-padding box-shadow-left" ng-click="setActive(1)"
                                ng-class="{'up-blue': active == 1}"> <i class="mdi-social-school"></i> Estudiantes </li>
                    </ul>
                </nav>
                <div class="top-space relative">
                    <div class="animated absolute" ng-class="active == 0 ? 'fadeInLeft': 'fadeOutRight'">
                        <div class="col-md-6 inline-block be-in-top top-space">
                            <%= image_tag("icons/school7.png", class:"col-xs-3 inline-block") %>
                            <p class="top-space text-justify">
                                Enseñas a distancia a alumnos de toda habla hispana.
                            </p>
                        </div>
                        <div class="col-md-6 inline-block be-in-top  top-space">
                            <%= image_tag("icons/first31.png", class:"col-xs-3 inline-block") %>
                            <p class="top-space text-justify">
                                Ganas medallas por apoyar a otros, y te damos prioridad cuando necesitas ayuda.
                            </p>
                        </div>
                        <div class="col-md-6 inline-block be-in-top  top-space">
                            <%= image_tag("icons/dollar179.png", class:"col-xs-3 inline-block") %>
                            <p class="top-space text-justify">
                                Obtienes comisiones por enseñar y ayudar a otros.
                            </p>
                        </div>
                        <div class="col-md-6 inline-block be-in-top top-space">

                            <%= image_tag("icons/grinning.png", class:"col-xs-3 inline-block") %>
                            <p class="top-space text-justify">
                                Recibe el reconocimiento de la gente a la que ayudas.
                            </p>
                        </div>
                    </div>
                    <div class="animated text-center absolute" ng-class="active == 1 ? 'fadeInLeft': 'fadeOutRight'">
                        <div class="col-md-6 inline-block be-in-top top-space">
                            <%= image_tag("icons/students2.png", class:"col-xs-3 inline-block") %>
                            <p class="top-space text-justify">
                                Resolución de tus dudas por expertos de todo el mundo.
                            </p>
                        </div>
                        <div class="col-md-6 inline-block be-in-top  top-space">
                            <%= image_tag("icons/trophy53.png", class:"col-xs-3 inline-block") %>
                            <p class="top-space text-justify">
                                Ganas medallas por apoyar a otros, y te damos prioridad cuando necesitas ayuda.
                            </p>
                        </div>
                        <div class="col-md-6 inline-block be-in-top  top-space">
                            <%= image_tag("icons/mobilephone17.png", class:"col-xs-3 inline-block") %>
                            <p class="top-space text-justify">
                                Asesorías personalizadas a bajo costo, desde tu móvil o computadora.
                            </p>
                        </div>
                        <div class="col-md-6 inline-block be-in-top top-space">
                            <%= image_tag("icons/online.png", class:"col-xs-4 inline-block") %>
                            <p class="top-space text-justify">
                                Acceso a vídeo llamadas, chat, notas, pizarrones y dudas con tu asesor.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-1 inline-block"></div>
        	<div class="col-md-3 inline-block be-in-top text-left be-small border-box-shadow no-padding be-white box-shadow">
        		<%= render "home/chat" %>
        	</div>

        </div>
    </section>