<div ng-controller="QuestionsCtrl">
	<div class="fixed" style="right:30px;bottom:30px;">
		
	</div>
	<div class="col-md-8 no-padding inline-block ">
		<header class="be-red white top-space">
			<nav class="large-padding" style="border-bottom:solid 1px #999;">
				<ul class="no-list white">
					<div class="col-xs-9 inline-block">
						<li class="inline-block col-sm-2 large-padding right-space be-white red">
							Dudas
						</li>
						<li class="inline-block large-padding">
							Asesorías disponibles
						</li>	
					</div>
					<li class="inline-block col-xs-3 pointer text-right large-padding open_question_form" ng-click="formVisible = !formVisible">
						<div class="col-xs-2 no-padding inline-block">
							<%= render_svg "svg-icons/question-navigation.svg" %>	
						</div>
						<div class="col-xs-9 inline-block no-padding text-left">
							Nueva pregunta	
						</div>
					</li>						
				</ul>
			</nav>
		</header>
		<section>
			<div class="large-padding top-space card slide"  ng-show="formVisible">
				<h2 class="be-medium blue">Nueva pregunta</h2>
				<%= render "questions/form" %>
			</div>
			<%= render "questions/question" %>
		</section>
	</div>
	<div class="col-md-4 inline-block">
		<%= render "home/aside" %>
	</div>
</div>