.header_landing{
	background: url(<%= asset_path('background_home.jpg') %>);
	background-size: cover;
	background-position: center;

	padding-top: 2em;
	padding-bottom: 1em;
}
.header_user{
	background: url(<%= asset_path('background_user.jpg') %>);
	background-size: cover;
	background-position: center;
	
}
.medium-top-space{
	margin-top: 90px;
}