@font-face{
  font-family: Material-Design-Icons;
  src: url(<%= asset_path('Material-Design-Icons.ttf') %>),url(<%= asset_path('Material-Design-Icons.eot') %>),url(<%= asset_path('Material-Design-Icons.woff') %>);
}