<!DOCTYPE html>
<html>
<head>
  <title>Tutoreandome</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
</head>
<body>
<div class="absolute snackbar toast snackbar-opened" style="z-index:1000;bottom:10px;left:10px;<%= "display:none;" if notice.nil? and alert.nil? %>"><span class="snackbar-content"><%= notice %><%= alert %></span></div>
	<%= render "partials/nav" %>
	<div id="user-data" class="absolute be-white box-shadow" data-open="false">
		<%= render "partials/user" %>	
	</div>
	<div class="col-md-11 col-sm-12 center-block no-float">
		<%= yield %>	
	</div>
	
	<script src="//cdnjs.cloudflare.com/ajax/libs/SVG-Morpheus/0.1.8/svg-morpheus.js"></script>
</body>
</html>
